body {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: yellow;
    color: purple;
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    top: 60px; /* Account for the nav bar */
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;

}

.home-container {
    margin-top: 120px; /* Account for fixed header + nav */
    padding: 20px;
}

p{
    margin: 10px;
    padding: 10px; 
    text-align: center;
    font-size: large;
    color: purple;
    
}